/* INI BAGIAN GLOBAL */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #212529;
}

.heading h2 {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

/* END BAGIAN GLOBAL */

/* INI BAGIAN HEADER */

.top-wrapper {
  padding: 180px 0 180px 0;
  background-image: url('images/jomblo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  width: 100%;
  height: 620px;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

header {
  height: 55px;
  width: 100%;
  background-color: #f80c0cf5;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 180px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -75px;
}

.header-right a {
  line-height: 55px;
  padding: 0 7.5px;
  color: rgb(255, 255, 255);
  display: block;
  float: left;
  transition: all 0.5s;
  font-family: 'Patua One', cursive;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: rgb(54, 39, 39);
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

/* END BAGIAN HEADER */

/* BAGIAN UTAMA */

.bagian-utama {
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
}

.utama-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-kiri img {
  padding: 50px;
}


/* END BAGIAN UTAMA */


/* BAGIAN EXTAR 1 */
.extra-one {
  padding-bottom: 150px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
}

.type-box {
  float: left;
  width: 25%;
  /* ini buat ngasih tau ke browser kalau clas ini menggunakan animasi */
  transition:all 0.3s ease;
  height: 200px;
}
/* ini untuk animasi hover di div dengan class type-box,
jadi pas mouse hover, langsung jalanin animasi */
.type-box:hover{
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
.type-box p{
  color:#212529;
}

.type-icon {
  position: relative;
}
.type-icon img{
  width: 170px;
  margin-bottom: 12px;
}

/* .type-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
} */

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}



/* END BAGIAN EXTAR 1 */

/* BAGIAN EXTRA 2 */
.extra-two {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: maroon;
  width: 100%;
  height: 200px;
  color: white;
}

.extra-two h2{
  color: white;
}

.content-extra-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
 padding-top: 10px;
}

.item {
  float: left;
  width: 25%;
  padding-right: 10px;
}

.item p {
  text-align: justify;
}

.item-list {
  margin-top: 5px;

}

.item-icon {
  font-size: 14px;
}

/* END BAGIAN EXTRA 2 */


/* BAGIAN FOOTER */
footer img {
  width: 300px;
}

footer p {
  color: #F0FFFF  ;
  font-size: 15px;
  text-align:center;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 0px;
  background-color:#000000 ;
 }

footer a {
  float:center;
}

footer {
  padding-top: 30px;
  padding-bottom: 0px;
  background-image: url('images/footer2_copy.png');
  
}
/* END BAGIAN FOOTER */